# This file should be used to override local configuration values when installing the Helm chart
# See README.md for more information

# Provide a valid domain name for the ingress loadbalancer configuration
ingress:
  domain:
  tls:
    enabled: true

auth:
  # Go to https://randomkeygen.com
  # Choose a 152-bit WEP key as access token secret
  jwtAccessTokenSecretValue:
  # Choose a 256-bit WEP key as access token secret
  jwtRefreshTokenSecretValue:

# Provide a valid docker registry token to allow downloading the necessary images from a private registry
image:
  registryToken:
   # Image tags can be optionally overwritten here (most tags default to the chart's appVersion)

